{% set classes = [
  'event-calendar',
] %}

<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="event-calendar__inner">
    {% if event_calendar_image %}
      <div class="event-calendar__image">
        {{ event_calendar_image }}
      </div>
    {% endif %}
    <div class="event-calendar__content">
      {% block event_calendar_content %}
        <h3 class="event-calendar__title">
          <a href="{{ event_calendar_url }}">
            {{ event_calendar_title }}
          </a>
        </h3>
        {% if event_calendar_date %}
          <div class="event-calendar__date">
            {{ include('csgov_theme:event-calendar-date', {
              event_calendar_date: event_calendar_date,
              })
            }}
          </div>
        {% endif %}
        {% if event_calendar_address %}
          <div class="event-calendar__address">
            <span class="calendar-item__address">
              {{ include('csgov_theme:address-book-address', {
                address: event_calendar_address,
                address_compact: TRUE,
                })
              }}
            </span>
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </div>
</div>
