{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb|length > 0 %}
  {{ attach_library('csgov_theme/breadcrumbs') }}
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>

   {# On small screens, just render the parent level of the current page #}
    <div class="small-screen">
      <ol class="breadcrumb__items">
        {% for item in breadcrumb %}
          {% if loop.last %}
            <li class="breadcrumb__item">
              <span class="breadcrumb__separator breadcrumb__separator--before" aria-hidden="true">‹‹</span>
              <a class="breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
    {# On large screens, render all breadcrumbs #}
    <div class="large-screen">
      <ol class="breadcrumb__items">
      {% for item in breadcrumb %}
        {% if item.url %}
          <li class="breadcrumb__item">
            {% if item.text != current_page_title %}
              <a class="breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
              <span class="breadcrumb__separator breadcrumb__separator--after" aria-hidden="true">›</span>
            {% endif %}
          </li>
          {% else %}
          <li class="breadcrumb__item breadcrumb__item--current">
            {% if item.text %}
              {{ item.text }}
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
      </ol>
    </div>

  </nav>
{% endif %}
