{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set accordionID = paragraph.id() %}

{% if paragraph.field_accordion_orientation.0.value == 'open' %}
  {% set accordion_state = 'true' %}
{% else %}
  {% set accordion_state = 'false' %}
{% endif %}

{% set section_open = 'Zobrazit'|t %}
{% set section_close = 'Zavřít'|t %}
{% set section_open_verbose = 'Zobrazit tuto sekci'|t %}
{% set section_close_verbose = 'Zavřít tuto sekci'|t %}

{%
  set classes = [
    'accordion-item'
  ]
%}

<div{{attributes.addClass(classes)}}>
  <h3 class="accordion-item__label">
    <noscript>{{ content.field_heading.0 }}</noscript>
    <button id="accordion-{{ accordionID }}"
            class="accordion-item__trigger"
            type="button"
            aria-expanded="{{ accordion_state }}"
            aria-controls="section-{{ accordionID }}"
            aria-label="{{ content.field_heading.0 }} – {{ accordion_state == 'true' ? section_close_verbose : section_open_verbose }}"
            data-acc-button-open="{{ section_open_verbose }}"
            data-acc-button-close="{{ section_close_verbose }}"
            data-acc-button-title="{{ content.field_heading.0 }}"
    >
      <span class="accordion-item__title" id="accordion-item__title-{{ accordionID }}">
        {{ content.field_heading.0 }}
        <div class="accordion-item__toggle" aria-hidden="true">
          <span class="accordion-item__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
              <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/>
            </svg>
          </span>
          <span class="accordion-item__toggle__text" data-acc-toggle-text-open="{{ section_open }}" data-acc-toggle-text-close="{{ section_close }}">{{ accordion_state == 'true'  ? section_close : section_open }}</span>
        </div>
      </span>
    </button>
  </h3>

  <div id="section-{{ accordionID }}" role="region" aria-labelledby="accordion-item__title-{{ accordionID }}" class="accordion-panel">
    <fieldset>
      {{ content.field_body.0 }}
    </fieldset>
  </div>
</div>
