{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="top-bar">
  <div class="container">
    {{ page.top_bar }}
  </div>
</div>

{{ attach_library('csgov_theme/header') }}
<header role="banner">
  <div class="region-header">
    <div class="logo">{{ page.logo }}</div>
    {% if page.search %}
      {{ attach_library('csgov_theme/search-block') }}
      <div class="search">{{ page.search }}</div>
    {% endif %}
    {{ attach_library('csgov_theme/menu-trigger') }}
    <button class="menu-main__trigger" aria-expanded="false" aria-controls="main-navigation">
      <svg aria-hidden="true" class="menu-main__trigger__icon menu-main__trigger__icon--open" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
        <path d="M0 88C0 74.75 10.75 64 24 64H424C437.3 64 448 74.75 448 88C448 101.3 437.3 112 424 112H24C10.75 112 0 101.3 0 88zM0 248C0 234.7 10.75 224 24 224H424C437.3 224 448 234.7 448 248C448 261.3 437.3 272 424 272H24C10.75 272 0 261.3 0 248zM424 432H24C10.75 432 0 421.3 0 408C0 394.7 10.75 384 24 384H424C437.3 384 448 394.7 448 408C448 421.3 437.3 432 424 432z"/>
      </svg>
      <svg aria-hidden="true" class="menu-main__trigger__icon menu-main__trigger__icon--close" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
        <path d="M312.1 375c9.369 9.369 9.369 24.57 0 33.94s-24.57 9.369-33.94 0L160 289.9l-119 119c-9.369 9.369-24.57 9.369-33.94 0s-9.369-24.57 0-33.94L126.1 256L7.027 136.1c-9.369-9.369-9.369-24.57 0-33.94s24.57-9.369 33.94 0L160 222.1l119-119c9.369-9.369 24.57-9.369 33.94 0s9.369 24.57 0 33.94L193.9 256L312.1 375z"/>
      </svg>
      <span class="menu-main__trigger__label">Menu</span>
    </button>
  </div>
</header>
<div class="main-navigation">
  <div class="container">
    {{ page.navigation }}
  </div>
</div>

{% if page.admin_area %}
  {{ page.admin_area }}
{% endif %}

<main role="main">
  {# Display region only if page is not using layout builder layout.#}
  {% if not has_page_layout == 1 %}
    {% if page.layoutless %}
      {{ page.layoutless }}
    {% endif %}
  {% endif %}

  {% if page.content_top %}
    <aside class="content-top" role="complementary">
      {{ page.content_top }}
    </aside>
  {% endif %}

  <span id="main-content" tabindex="-1"></span>
  {# link is in html.html.twig #}

  <div class="layout-content">
    {{ page.content }}
    {{ page.content_view }}
  </div>
  {# /.layout-content #}

  {% if page.content_bottom %}
    <aside class="content-bottom" role="complementary">
      {{ page.content_bottom }}
    </aside>
  {% endif %}
</main>

{% if page.footer %}
  {{ attach_library('csgov_theme/footer') }}
  <footer class="footer-wrapper" role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}

<div class="postscript__wrapper" role="complementary" aria-label="Postscript region.">
  <div class="postscript container">
    <div class="csgov-promo">
      {{ attach_library('csgov_theme/postscript') }}
      {{ 'Runs on'|t }}
      <span class="visually-hidden">CSGOV</span>
      <a href="https://www.csgov.cz" title="CSGOV website.">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="468" height="273" viewbox="0 0 468 273">
          <style>
            @media(prefers-color-scheme:dark) {
              .csgov-logo-bg {
                fill: #171717;
              }
              .csgov-logo-border {
                fill: #006da3;
              }
              .csgov-logo-text {
                fill: #c21e2d;
              }
            }
          </style>
          <g fill="none" fill-rule="evenodd">
            <path class="csgov-logo-bg" fill="#fffffe" fill-opacity=".9" d="M14.3869801,163.334539 L46.6832116,163.334539 C58.0785461,163.334539 69.3714792,171.493649 72.9512984,182.313505 L89.3566872,231.914734 L105.762076,182.314351 C109.341049,171.494495 120.633982,163.334539 132.030163,163.334539 L453.61302,163.334539 L453.61302,14.3869801 L14.3869801,14.3869801 L14.3869801,163.334539 Z"/>
            <path class="csgov-logo-border" fill="#007fb6" d="M453.61302,163.334539 L132.030163,163.334539 C120.633982,163.334539 109.341049,171.494495 105.762076,182.314351 L89.3566872,231.914734 L72.9512984,182.313505 C69.3714792,171.493649 58.0785461,163.334539 46.6832116,163.334539 L14.3869801,163.334539 L14.3869801,14.3869801 L453.61302,14.3869801 L453.61302,163.334539 Z M458.403884,-2.84217094e-14 L9.59526944,-2.84217094e-14 C4.31863291,-2.84217094e-14 0,4.31863291 0,9.59526944 L0,168.12625 C0,173.402886 4.31863291,177.721519 9.59526944,177.721519 L46.6832116,177.721519 C51.9598481,177.721519 57.6342423,181.820962 59.2921302,186.831863 L86.343038,268.619306 C87.1724051,271.124333 88.264123,272.376846 89.3566872,272.376846 C90.4484051,272.376846 91.5409693,271.124333 92.3694901,268.619306 L119.421244,186.831863 C121.079132,181.820962 126.75268,177.721519 132.030163,177.721519 L458.403884,177.721519 C463.681367,177.721519 468,173.402886 468,168.12625 L468,9.59526944 C468,4.31863291 463.681367,-2.84217094e-14 458.403884,-2.84217094e-14 L458.403884,-2.84217094e-14 Z"/>
            <path class="csgov-logo-text" fill="#ab2430" d="M46.092 90.528 46.092 90.322C46.092 69.776 61.578 52.948 83.776 52.948 97.404 52.948 105.56 57.491 112.27 64.098L102.153 75.765C96.578 70.705 90.899 67.608 83.672 67.608 71.489 67.608 62.714 77.726 62.714 90.115L62.714 90.322C62.714 102.711 71.284 113.035 83.672 113.035 91.931 113.035 96.991 109.731 102.669 104.57L112.787 114.79C105.353 122.741 97.094 127.696 83.156 127.696 61.888 127.696 46.092 111.28 46.092 90.528M120.533 115.926 129.928 104.672C136.432 110.041 143.246 113.448 151.506 113.448 158.01 113.448 161.933 110.867 161.933 106.635L161.933 106.427C161.933 102.401 159.455 100.336 147.376 97.239 132.819 93.522 123.424 89.496 123.424 75.145L123.424 74.938C123.424 61.827 133.954 53.155 148.718 53.155 159.249 53.155 168.231 56.458 175.561 62.343L167.302 74.319C160.901 69.88 154.603 67.196 148.512 67.196 142.42 67.196 139.22 69.983 139.22 73.493L139.22 73.699C139.22 78.449 142.317 79.998 154.809 83.198 169.47 87.018 177.729 92.283 177.729 104.879L177.729 105.085C177.729 119.436 166.785 127.489 151.196 127.489 140.252 127.489 129.205 123.669 120.533 115.926M188.366 90.528 188.366 90.322C188.366 69.776 204.369 52.948 226.256 52.948 239.265 52.948 247.111 56.458 254.648 62.859L244.633 74.939C239.058 70.292 234.102 67.608 225.74 67.608 214.177 67.608 204.988 77.83 204.988 90.115L204.988 90.322C204.988 103.536 214.073 113.242 226.875 113.242 232.657 113.242 237.82 111.796 241.846 108.905L241.846 98.581 225.844 98.581 225.844 84.85 257.228 84.85 257.228 116.236C249.795 122.533 239.575 127.696 226.36 127.696 203.853 127.696 188.366 111.9 188.366 90.528M329.502 90.528 329.502 90.322C329.502 77.933 320.418 67.608 307.616 67.608 294.814 67.608 285.935 77.726 285.935 90.115L285.935 90.322C285.935 102.711 295.019 113.035 307.823 113.035 320.625 113.035 329.502 102.918 329.502 90.528M269.313 90.528 269.313 90.322C269.313 69.776 285.521 52.948 307.823 52.948 330.122 52.948 346.126 69.57 346.126 90.115L346.126 90.322C346.126 110.867 329.915 127.696 307.616 127.696 285.315 127.696 269.313 111.074 269.313 90.528M349.431 54.187 366.984 54.187 385.876 105.085 404.77 54.187 421.909 54.187 392.69 126.973 378.65 126.973z"/>
          </g>
        </svg>
      </a>
    </div>
    <div class="light-mode-switcher">
      {{ attach_library('csgov_theme/theme-switcher') }}
        <button id="reset-darkmode" class="toggle-darkmode--reset">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512">
          <path d="M576 128h-128c-35.2 0-64 28.8-64 64v256c0 35.2 28.8 64 64 64h128c35.2 0 64-28.8 64-64V192C640 156.8 611.2 128 576 128zM608 448c0 17.67-14.33 32-32 32h-128c-17.67 0-32-14.33-32-32V192c0-17.67 14.33-32 32-32h128c17.67 0 32 14.33 32 32V448zM96 64c0-17.67 14.33-32 32-32h320c17.67 0 32 14.33 32 32v16C480 88.84 487.2 96 495.1 96S512 88.84 512 80V64c0-35.2-28.8-64-64-64H128C92.8 0 64 28.8 64 64v224H16C7.163 288 0 295.2 0 304V320c.125 35.25 28.63 63.88 63.88 64h272.1C344.8 384 352 376.8 352 368S344.8 352 336 352H63.88C46.25 352 32 337.6 32 320h304C344.8 320 352 312.8 352 304S344.8 288 336 288H96V64z"/>
        </svg>
        <span class="visually-hidden">{{ 'Use device settings.'|t }}</span>
      </button>
      <input type="checkbox" id="toggle-darkmode" class="visually-hidden" aria-hidden="true" tabindex="-1"/>
      <label class="light-mode-switcher__label" for="toggle-darkmode">
        <button class="toggle-darkmode--light">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill-rule="nonzero" d="M453.7,256l52.87,-76.18c5.922,-8.529 7.062,-19.34 3.094,-28.9c-3.969,-9.561 -12.42,-16.37 -22.61,-18.22l-91.26,-16.5l-16.48,-91.24c-1.859,-10.22 -8.672,-18.65 -18.25,-22.62c-9.531,-3.969 -20.34,-2.781 -28.88,3.094l-76.184,52.896l-76.2,-52.875c-8.5,-5.906 -19.25,-7.125 -28.84,-3.125c-9.56,3.969 -16.46,12.4 -18.26,22.62l-16.5,91.25l-91.25,16.5c-10.2,1.8 -18.649,8.7 -22.618,18.2c-3.969,9.6 -2.828,20.4 3.094,28.9l52.874,76.2l-52.87,76.18c-5.922,8.531 -7.062,19.34 -3.094,28.9c3.968,9.56 12.42,16.37 22.61,18.22l91.26,16.5l16.48,91.24c1.859,10.22 8.688,18.65 18.27,22.62c3.75,1.562 7.688,2.312 11.59,2.312c6.078,0 12.08,-1.844 17.25,-5.406l76.204,-52.866l76.2,52.87c8.5,5.906 19.25,7.125 28.84,3.125c9.578,-3.969 16.41,-12.41 18.27,-22.62l16.48,-91.24l91.25,-16.5c10.2,-1.844 18.66,-8.654 22.62,-18.22c3.96,-9.566 2.828,-20.37 -3.094,-28.9l-52.866,-76.215Zm-74.5,110.3c-6.578,1.188 -11.72,6.344 -12.91,12.9l-15.83,101.1l-85.33,-59.21c-5.5,-3.812 -12.75,-3.812 -18.25,-0l-82.69,60.31l-18.49,-102.2c-1.188,-6.561 -6.328,-11.72 -12.91,-12.9l-101.1,-15.84l59.2,-85.31c3.812,-5.498 3.812,-12.75 0,-18.25l-60.28,-82.68l102.2,-18.47c6.59,-1.25 11.69,-6.35 12.89,-12.95l15.83,-101.1l85.33,59.21c5.5,3.811 12.75,3.811 18.25,-0l82.69,-60.31l18.47,102.2c1.188,6.562 6.328,11.72 12.91,12.91l101.1,15.84l-59.2,85.31c-3.812,5.5 -3.812,12.75 -0,18.25l57.7,83.15l-99.58,18.04Z"/>
          </svg>
          <span class="visually-hidden">{{ 'Disable dark mode.'|t }}</span>
        </button>
        <button class="toggle-darkmode--dark">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
            <path d="M322.1 401.4l-4.688 .375c-7.594 1.5-15.41 2.25-23.16 2.25c-67 0-121.5-54.66-121.5-121.8c0-43.75 23.66-84.38 61.72-106.1C243.3 171 248 161.2 246.3 151C244.5 140.8 237 133.1 226.1 131.3C215.3 129.1 203.2 127.1 191.7 127.1C85.92 127.1 0 214.1 0 320s86.01 192 191.8 192c58.19 0 112.6-26.04 148.9-71.04c6.062-7.25 7.275-16.99 3.275-25.52C340 406.9 331.4 401.4 322.1 401.4zM191.8 480C103.7 480 32 408.2 32 320s71.69-160 159.8-160c2.938 0 5.906 .0938 8.875 .25C163.3 189.2 140.7 234.2 140.7 282.2c0 84.84 68.88 153.8 153.5 153.8c2.625 0 5.25-.0625 7.844-.1875C272.6 464.1 233.4 480 191.8 480zM496 208h-32v-32C464 167.2 456.8 160 448 160s-16 7.156-16 16v32h-32C391.2 208 384 215.2 384 224s7.156 16 16 16h32v32C432 280.8 439.2 288 448 288s16-7.156 16-16v-32h32C504.8 240 512 232.8 512 224S504.8 208 496 208zM432 96c0-8.844-7.156-16-16-16h-64v-64C352 7.156 344.8 0 336 0S320 7.156 320 16v64h-64C247.2 80 240 87.16 240 96S247.2 112 256 112h64v64C320 184.8 327.2 192 336 192S352 184.8 352 176v-64h64C424.8 112 432 104.8 432 96z"/>
          </svg>
          <span class="visually-hidden">{{ 'Enable dark mode.'|t }}</span>
        </button>
        <span class="visually-hidden">Toggle Light/Dark Mode</span>
      </label>

      <script>
        // Check the dark-mode checkbox if
        // - The override is set to dark
        // - No override is set but the system prefers dark mode
        if ((colorModeOverride == 'dark') || (!hasColorModeOverride && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.querySelector('#toggle-darkmode').checked = true;
        }
      </script>
    </div>
  </div>
</div>

<div id="back-to-top" role="complementary">
  {{ attach_library('csgov_theme/back-to-top') }}
  <button title="Back to top" class="back-to-top__link">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
      <path d="M55.1 241.9L192 120.2l136 121.6c4.563 4.094 10.28 6.125 16 6.125c6.594 0 13.16-2.687 17.88-7.1c8.844-9.874 8-25.06-1.875-33.87L208 70.14c-9.125-8.187-22.88-8.187-32 0L23.99 206.1C14.12 214.9 13.28 230.1 22.12 240C30.93 249.9 46.15 250.7 55.1 241.9zM208 262.1c-9.125-8.187-22.88-8.187-32 0l-152 135.1c-9.875 8.812-10.72 23.1-1.875 33.87c8.813 9.906 24.03 10.72 33.88 1.875L192 312.2l136 121.6c4.563 4.094 10.28 6.125 16 6.125c6.594 0 13.16-2.687 17.88-7.1c8.844-9.874 8-25.06-1.875-33.87L208 262.1z"/>
    </svg>
    <span class="visually-hidden">Back to top</span>
  </button>
</div>
