{% set calendar_item_title = label %}
{% set calendar_item_url = url %}
{% if node.field_csgov_date_published.value %}
  {% set calendar_item_date = node.field_csgov_date_published.value %}
{% endif %}
{% if node.field_csgov_date_archived.value %}
  {% set calendar_item_date_archive = content.field_csgov_date_archived %}
{% endif %}
{% embed('csgov_theme:calendar-item') %}
  {% block calendar_item_meta %}
    {% if node.field_csgov_date_published.value %}
      <span class="calendar-item__meta__info">
      {{ 'Published:'|t({}, {'context' : 'CSGOV: Node strings – board'}) }} <strong>{{ content.field_csgov_date_published }}</strong>
      </span>
    {% endif %}
    {% if node.field_csgov_date_archived.value %}
    <span class="calendar-item__meta__info">
      {{ 'Unpublished:'|t({}, {'context' : 'CSGOV: Node strings – board'}) }} <strong>{{ content.field_csgov_date_archived }}</strong>
      </span>
    {% endif %}
    {% if node.field_csgov_ref_person.value %}
    <span class="calendar-item__meta__info">
      {{ 'Responsible:'|t({}, {'context' : 'CSGOV: Node strings – board'}) }} <strong>{{ content.field_csgov_ref_person }}</strong>
      </span>
    {% endif %}
  {% endblock %}
{% endembed %}
